.navbar-brand img {
  width: 120px;
}

.features-item img {
  width: 50px;
  height: auto;
}

.main-header {
  padding-top: 100px;
}

.subscribe {
  background-image: url(./img/subscribe.jpg);
  background-size: cover;
  background-position: center;
}
